@charset 'utf-8';
@import url(reset.css);

#wrapper{width:100%; position:relative; overflow-x:hidden}

/*gnb*/
.gnb{float:right; width:31.25%; margin-right:18.75%; margin-top:70px;}
.gnb ul li{float:left; text-align:center; width:33.3333%}
.gnb ul li a{color:#333; transition:color 1s ease 0.6s;}

#point{position:fixed; top:50%; right:10%; z-index:998; margin-top:-82.5px}
#point a{width:15px; height:15px; background-color:#333; border-radius:50%; display:block; margin-top:10px;}
#point a:first-child{margin:0}

/*point*/
#point a:before{content:''; display:block; width:100%; height:100%; background-color:#4169e1; border-radius:50%; opacity:0; box-shadow:0 0 1px #fff; transform:scale(3); transition:all 0.3s ease;}
#point a.on:before{opacity:1; transform:scale(1); background-color:#4169e1;}

#point a span{padding-left:20px; font-size:0.75rem; vertical-align:top; margin-top:-2px; margin-top:-17px; display:none;}
#point a.on span{display:block;}
#point a:hover span{display:block;}


/*container*/
#container{width:100%;}

#home{width:100%; height:1080px; position:relative; background-color:rgba(0,0,0,0); transition:background-color 1s ease 0.6s;}

.hello{width:62.5%; height:100%; margin:0 auto; line-height:60px; padding-top:332px; color:#333;}
.hello h3{font-size:2.5rem; text-shadow:0 0 20px #fff; opacity:0; transition:opaicty 1s ease 0.6s;}

.mainMockup{width:100%; height:100%; background:url(../images/mockup.png) no-repeat center; position:absolute; top:0; left:-100%; z-index:-1; transition:left 1s ease;}

.mouse{width:40px; height:70px; position:relative; border-radius:30px; border:2px solid #333; margin-top:60px; transition:border 1s ease 0.6s;}
.mouseWhill{width:6px; height:6px; position:absolute; top:15px; left:50%; margin-left:-3px; display:block; border-radius:50%; background-color:#333; animation:mousewhill 3s ease-in-out infinite; transition:background-color 1s ease 0.6s;}

.scroll{padding-left:2px; transition:color 1s ease 0.6s;}
@keyframes mousewhill{
    0%{top:15px;}
    50%{top:47px;}
    100%{top:15px;}
}

/*project*/
#project{width:100%; position:relative}
#project > section{width:100%; height:1080px; border-bottom:1px solid #d9d9d9; position:relative;}
#project > section > .projectWrap{width:62.5%; height:100%; margin:0 auto; position:relative;}
.dim{width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(0,0,0,0.8); display:none;}


.projectTxt{width:33.3333%; margin-top:280px; float:left; opacity:0; transition:opacity 0.4s ease;}
.projectTxt h3{font-weight:700; font-size:2rem;}
.projectTxt span{line-height:30px; display:block;}
.projectTxt dt{font-weight:700; margin:70px 0 20px 0;}
.projectTxt dd{line-height:24px;}

a.view{display:block; width:40%; padding:10px 20px; border-radius:30px; background-color:#4169e1; margin-top:40px; color:#fff; text-decoration:none;}

.mockup{width:66.6666%; height:100%; float:left; position:relative; opacity:0; transition:opacity 0.8s ease 0.4s;}
.pc-Preview{width:96.25%; height:433px; position:relative; background-color: #333; margin:278px 0 0 3.75%;}
.pc-Preview span{height:433px;}
.mockup span{width:100%; display:block; box-shadow:5px 5px 5px rgba(0,0,0,0.5); border:1px solid #d9d9d9; font-size:0;}

/*preview*/
#project1 .mb-Preview{width:30%; background-color:#888; position:absolute; top:396px; right:-10%;}
#project5 .mb-Preview{width:39.25%; position:absolute; left:30.375%; top:278px;}

.fila_img1{background:url(../images/project1_after-w1920.jpg) no-repeat 0 0/100%;}
.fila_img2{background:url(../images/project1_after-m360.jpg) no-repeat 0 0/100%;}
.hhiarts_img1{background:url(../images/project2_after-w1200.jpg) no-repeat 0 0/100%;}
.gg_img1{background:url(../images/project3_after-w1200.jpg) no-repeat 0 0/100%;}
.gg_img2{background:url(../images/project3_after-w1200_sub1.jpg) no-repeat 0 0/100%;}
.gg_img3{background:url(../images/project3_after-w1200_sub2.jpg) no-repeat 0 0/100%;}
.hotel1_img1{background:url(../images/project4_after-w1200.jpg) no-repeat 0 0/100%;}
.laneige_img1{background:url(../images/project5_after-m360.jpg) no-repeat 0 0/100%;}
.kepco_img1{background:url(../images/project6_after-w1440.jpg) no-repeat 0 0/100%;}

.fila_img2{height:447px;}
.laneige_img1{height:526px;}

/*about*/
#about{width:62.5%; margin:0 auto; height:1080px; padding-top:150px;}

.my{width:49%; float:left; position:relative; opacity:0; transition:opacity 0.4s ease;}
.my h3{width:18.7755%; font-size:2rem; font-weight:700; display:inline-block;}

.my h3 span{display:inline-block; width:0; height:0; opacity:0; transition:width 0.8s linear 0.4s, height 0.8s linear 0.4s;}
.my h3 span:nth-of-type(1){transition-delay:0.2s;}
.my h3 span:nth-of-type(2){transition-delay:0.3s;}
.my h3 span:nth-of-type(3){transition-delay:0.4s;}

.my .enName{font-size:1rem; font-weight:400; opacity:0; transition:opacity 1s ease 0.9s}
.my p{padding-top:460px;}
.my .profileImg{width:343px; height:343px; display:block; background:url(../images/profileImg.jpg) no-repeat 0 0/100%; border-radius:50%; position:absolute; top:130px; animation:fly 2s ease infinite;}

@keyframes fly{
    0%{top:130px;}
    50%{top:135px;}
    100%{top:130px;}
}

.profileList{width:49%; float:left; opacity:0; margin-top:110px; transition:opacity 0.8s ease 0.4s;}
.profileList .profileTitle{margin:20px 0 10px 0; display:block; font-weight:700;}
.profileList>ul>li>ul>li{line-height:26px;}

.skill ul li span{font-size:0.75rem; color:#fff; background-color:#4169e1; padding:0 5px;}