@charset "utf-8";
@import url(reset.css);
    
@media all and (max-width:1024px){
    html,body,input,button{font-size:12px;}
    h3{height:50px; line-height:50px}
    
    #header{height:60px; line-height:60px;}
    #container{padding-top:60px;}
    
    .searchText{height:30px;}
    .searchBtn{background-size:70%; top:32%;}
    .user ul{top:60px}
    
    .visual,
    .visualList li img{height:280px;}
    
    .bestItemList ul > li > a{height:224px;}
    
    .collection .photo{height:218px;}
    .collection .txt .tit{line-height:34px;}
    .collection .photoOn ul{height:368px;}
    
    .hotList > li > a,
    .nowList > li > a{height:299px;}
    
    .aside > div{height:196px; line-height:196px;}
    
    .contact a{padding-top:10px; font-size:0}
    .customer:before{background-size:50%; margin-top:0}
    .shop:before{background-size:45%; margin-top:0}
    
    #footer{height:130px;}
}